# Игнорировать папку target
target

# Игнорировать папку .idea
.idea

# Игнорировать пвсе iml файлы
*.iml

# Игнорировать все css файлы
**.css

# Игнорировать все html файлы
**.html

# Игнорировать все scss файлы
**.scss
